
<ul class="list-inline text-center">
  <% ["izabel", "pauline"].each do |member| %>
    <li>
      <h3><%= member.capitalize %></h3>
      <%= image_tag "#{member}.jpg", class: "img-circle", width: 100 %>
    </li>
  <% end %>
</ul>

<p class="text-center padded"><i class="fa fa-envelope-o" aria-hidden="true"></i>
<%= mail_to "contact@airbnb.com", "contact@airbnb.com" %></p>
